---
layout: default
title: "Tools"
permalink: "/tools/"
meta_description: "Small tools I've made to make web development a little easier for me and the people I work with"
---
<section class="banner banner--default">
  <h1>{{title}}</h1>
  <p>Small tools I've made to make web development a little easier for me and the people I work with.</p>
</section>

<section class="component component--feature-projects">
  <ul class="feature-projects__list">
    {% for tool in collections.tool | reverse %}
      {% if tool.data.permalink != false %}
        <li>
          <a href="{{ tool.url }}">{{ tool.data.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>