---
title: "Text Styles"
---
<section class="banner style--default">
  <h1>{{ title }}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quaerat ducimus nobis deleniti doloremque minus? Ullam natus earum ipsum odit. Dolorem dolor, magnam veniam consectetur beatae minima unde quas dicta.</p>
</section>

<section class="component component--text-block">
  <h2>Heading 2</h2>
  <p><em>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</em> <strong>Placeat praesentium ullam alias. Magnam, quasi.</strong> <a href="/">Laudantium illo tempora doloremque</a> culpa quis eius ipsa cum consequatur voluptatem pariatur dolore praesentium consectetur numquam neque in dolor, optio, quas nam beatae corrupti nobis ipsam. Nesciunt cupiditate porro labore dolorum veniam quam voluptas reiciendis totam, quasi, esse asperiores molestiae qui! Qui fuga tempore iste magni mollitia odio dolores fugit illum! Accusamus possimus ad quasi facilis delectus in adipisci excepturi sint, alias est placeat eos voluptates quis dolorum autem maxime officia nostrum nemo perferendis eligendi error voluptatem. Explicabo rem atque facere illo animi veritatis iure quas?</p>
  <h3>Heading 3</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat possimus temporibus unde, blanditiis officia, eos aliquid in labore sunt commodi aliquam atque eius similique perferendis mollitia accusantium. Fugit, repudiandae ullam magnam vel ratione soluta quae ab excepturi placeat sunt maxime similique itaque dolores eveniet eum accusantium ad. Incidunt, obcaecati perspiciatis.</p>
  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat possimus temporibus unde, blanditiis officia, eos aliquid in labore sunt commodi aliquam atque eius similique perferendis mollitia accusantium. Fugit, repudiandae ullam magnam vel ratione soluta quae ab excepturi placeat sunt maxime similique itaque dolores eveniet eum accusantium ad. Incidunt, obcaecati perspiciatis.</p>
  <h5>Heading 5</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat possimus temporibus unde, blanditiis officia, eos aliquid in labore sunt commodi aliquam atque eius similique perferendis mollitia accusantium. Fugit, repudiandae ullam magnam vel ratione soluta quae ab excepturi placeat sunt maxime similique itaque dolores eveniet eum accusantium ad. Incidunt, obcaecati perspiciatis.</p>
  <h6>Heading 6</h6>
</section>

<section class="component component--text-block">
  <h2>List styles</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odit eaque rem nemo ducimus minus magni incidunt, voluptatem beatae ab nostrum quam non ipsam. Modi perspiciatis fugiat mollitia deleniti velit!</p>
  <ul>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident minima rem minus harum sint. Debitis quas sed id placeat obcaecati?</li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo libero velit iure dolorum quod placeat!
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eius ipsam cum deleniti dolor adipisci nesciunt mollitia voluptatibus distinctio fugit quos, cupiditate quaerat possimus consectetur, eum fugiat veniam quas perspiciatis?</li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eius ipsam cum deleniti dolor adipisci nesciunt mollitia voluptatibus distinctio fugit quos, cupiditate quaerat possimus consectetur, eum fugiat veniam quas perspiciatis?
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda fuga cupiditate unde, officia voluptas eaque minima sit expedita! Labore, dicta.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda fuga cupiditate unde, officia voluptas eaque minima sit expedita! Labore, dicta.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nobis quae similique non atque, culpa suscipit odio adipisci reprehenderit ullam.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nobis quae similique non atque, culpa suscipit odio adipisci reprehenderit ullam.</li>
  </ul>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, maiores laborum harum officia adipisci dolore accusantium, molestiae atque sequi obcaecati, voluptas cupiditate! Reprehenderit iure perferendis voluptatum, eos maiores libero sequi est illum eligendi repellendus ab neque labore accusamus dicta. Ad animi placeat beatae reprehenderit quia totam ipsa necessitatibus fuga unde.</p>

  <ol>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, totam! Repudiandae, aliquam recusandae! Possimus doloribus id itaque, repellendus eveniet nulla.</li>
    <li>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, totam! Repudiandae, aliquam recusandae! Possimus doloribus id itaque, repellendus eveniet nulla.
      <ol>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptates architecto delectus debitis quasi asperiores officia voluptatum eum illo ipsa?
          <ol>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, distinctio!</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, distinctio!</li>
          </ol>
        </li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptates architecto delectus debitis quasi asperiores officia voluptatum eum illo ipsa?
          <ol>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, distinctio!</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, distinctio!</li>
          </ol>
        </li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptates architecto delectus debitis quasi asperiores officia voluptatum eum illo ipsa?
          <ol>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, distinctio!</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, distinctio!</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, totam! Repudiandae, aliquam recusandae! Possimus doloribus id itaque, repellendus eveniet nulla.</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, totam! Repudiandae, aliquam recusandae! Possimus doloribus id itaque, repellendus eveniet nulla.</li>
  </ol>
</section>

<section class="component component--text-block">
  <h2>Line Breaks</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, voluptatum! Ab, laboriosam! Sed explicabo voluptatum quasi! Totam labore saepe adipisci ullam placeat error aliquam magni consectetur hic illo, sunt reprehenderit fuga inventore aut. Doloremque magni totam tenetur! Cupiditate dolorem ea laboriosam possimus. Qui eveniet quod sunt obcaecati dignissimos, eligendi voluptate!</p>
  <hr>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, voluptatum! Ab, laboriosam! Sed explicabo voluptatum quasi! Totam labore saepe adipisci ullam placeat error aliquam magni consectetur hic illo, sunt reprehenderit fuga inventore aut. Doloremque magni totam tenetur! Cupiditate dolorem ea laboriosam possimus. Qui eveniet quod sunt obcaecati dignissimos, eligendi voluptate!</p>
</section>

<section class="component component--text-block">
  <h2>Tables</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam doloribus laudantium exercitationem adipisci odit et autem labore facilis sed quos assumenda ducimus iure, sunt, accusantium nulla. Eligendi commodi non, dignissimos placeat officia magnam fuga reiciendis sed reprehenderit, eius, voluptatibus qui! Dicta vitae assumenda totam aut dolor! Et quae numquam deleniti.</p>
  <table>
    <thead>
      <th>Lorem ipsum dolor sit amet.</th>
      <th>Lorem ipsum dolor sit amet.</th>
      <th>Lorem ipsum dolor sit amet.</th>
      <th>Lorem ipsum dolor sit amet.</th>
    </thead>
    <tbody>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="component component--text-block">
  <h2>Buttons</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum porro expedita ea sed numquam et dignissimos tempore quos atque cumque explicabo nihil asperiores officiis facilis quas molestiae dolores, reprehenderit aut dolorem consectetur suscipit totam labore eaque. Debitis placeat molestias iusto ipsa quos ducimus modi pariatur nihil laborum. Esse, doloremque a.</p>
  <p><a href="/" class="btn-primary">Button Text</a><a href="/" class="btn-secondary">Button Text</a></p>
</section>