<header class="site__header">
  <nav class="site__navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/tools/">Tools</a></li>
      <li><a href="{{ site.linkedin }}">Linkedin</a></li>
      <li><a href="{{ site.github }}">Github</a></li>
    </ul>
  </nav>
</header>