---
title: "Home"
meta_description: "The home page of this 11ty site starter"
og_title: "Portfolio Home"
---
<section class="banner style--default">
  <h1>Tristan's Portfolio</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quaerat ducimus nobis deleniti doloremque minus? Ullam natus earum ipsum odit. Dolorem dolor, magnam veniam consectetur beatae minima unde quas dicta.</p>
</section>

<section class="component component--work-history">
  <h2>Work History</h2>
  <h3>Northern</h3>
  <p class="work-history__date">Front End Developer, January 2024 - Present</p>
  <div class="work-history__description">
    <p>At the end of 2023 <a href="https://www.northern.co/news/yellow-pencil-acquisition/">Yellow Pencil was acquired by Northern</a>, where I continue my role as a Front End Developer</p>
    <ul>
      <li>Create Drupal themes for public sector agancies</li>
      <li>Ongoing maintenance of existing websites</li>
      <li>Provide estimates and plans to initialize new project clients</li>
    </ul>
  </div>

  <h3>Yellow Pencil</h3>
  <p class="work-history__date">Front End Developer, February 2022 - January 2024</p>
  <div class="work-history__description">
    <ul>
      <li>Create themes for public sector agancies</li>
      <li>Helped provide training for new junior developers</li>
      <li>Improved technical documentation for projects</li>
      <li>Initialized and built a project starter that reduced the cost of starting a project from $95k to $700</li>
    </ul>
  </div>

  <h3>Box Clever</h3>
  <p class="work-history__date">UX Developer, December 2020 - February 2022</p>
  <div class="work-history__description">
    <ul>
      <li>Consistently built sites with 90-100% accessibility ratings by applying W3C standards</li>
      <li>Assessed UX mockups for technical application</li>
      <li>Collaborated with designers and account managers to ensure projects were completed to client satisfaction</li>
    </ul>
  </div>
</section>

<section class="component component--child-pages">
  <h2>Child Pages</h2>
  <ul class="flex-wrapper">
    <li>
      <a href="/kitchen-sink">
        <p class="h3">Kitchen Sink</p>
        <p class="description">Landing page for testing</p>
      </a>
    </li>

    <li>
      <a href="/kitchen-sink/text-styles">
        <p class="h3">Text Styles</p>
        <p class="description">Examples of site text styles</p>
      </a>
    </li>

    <li>
      <a href="/about">
        <p class="h3">About</p>
        <p class="description">Just an empty about page</p>
      </a>
    </li>
  </ul>
</section>