---
title: "Home"
meta_description: "The home page of this 11ty site starter"
og_title: "Tristan Hampton's Portfolio"
---
<section class="banner style--default">
  <h1>Tristan Hampton</h1>
  <p class="subheading">Front End Developer</p>
  <p>I'm a developer based out of Alberta, Canada. I specialize in making websites with slim HTML and CSS that are super accessible.</p>
</section>

<section class="component component--history">
  <h2 class="type--styled">Work History</h2>
  <h3>Northern</h3>
  <p class="subheading">Front End Developer, January 2024 - Present</p>
  <p>At the end of 2023 <a href="https://www.northern.co/news/yellow-pencil-acquisition/">Yellow Pencil was acquired by Northern</a>, where I continue my role as a Front End Developer</p>
  <ul>
    <li>Create Drupal themes for public sector agancies</li>
    <li>Ongoing maintenance of existing websites</li>
    <li>Provide estimates and plans to initialize new project clients</li>
  </ul>

  <h3>Yellow Pencil</h3>
  <p class="subheading">Front End Developer, February 2022 - January 2024</p>
  <ul>
    <li>Create themes for public sector agancies</li>
    <li>Helped provide training for new junior developers</li>
    <li>Improved technical documentation for projects</li>
    <li>Initialized and built a project starter that reduced the cost of starting a project from $95k to $700</li>
  </ul>

  <h3>Box Clever</h3>
  <p class="subheading">UX Developer, December 2020 - February 2022</p>
  <ul>
    <li>Consistently built sites with 90-100% accessibility ratings by applying W3C standards</li>
    <li>Assessed UX mockups for technical application</li>
    <li>Collaborated with designers and account managers to ensure projects were completed to client satisfaction</li>
  </ul>
</section>

<section class="component component--history">
  <h2 class="type--styled">Education</h2>
  <h3>NAIT</h3>
  <p class="subheading">DMIT Web Development, September 2018 - July 2020</p>
  <ul>
    <li>Graduated with honours</li>
    <li>Hosted study sessions with peers to help them excel</li>
  </ul>
</section>

<section class="component component--feature-projects">
  <h2 class="type--styled">Featured Projects</h2>
  <p>These are a selection of my favourite projects that I've completed over the years. The links will take you directly to the site. For a list of all projects <a href="/projects">check out my project archive</a>.</p>

  <ul class="feature-projects__list">
    <li><a href="https://torontohousing.ca">Toronto Community Housing</a></li>
    <li><a href="https://momentdiscovery.ca/">Moment Discovery</a></li>
    <li><a href="https://www.executrade.com/">Executrade</a></li>
    <li><a href="https://prsd.ab.ca/">Peace River School Division</a></li>
  </ul>
</section>