/* Single Child Page Tile
 * ----------------------------------------------- */
.component--child-pages .flex-wrapper a {
  display: block;
  padding: var(--padding-200);
  border: var(--border-thickness-100) solid var(--border-color-primary);
  color: inherit;
  text-decoration: none;
  height: 100%;
  box-shadow: var(--box-shadow);

  &:hover,
  &:focus {
    :first-child {
      text-decoration: underline;
    }
  }
}

/* Child Pages Group
 * ----------------------------------------------- */
.component--child-pages {
  padding: 0 var(--page-margin-200);

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--padding-400) var(--padding-400);
    padding: 0;
    margin-inline: 0;
    list-style: none;
  }

  li {
    flex: 0 1 calc(33% - 2.2rem);
    margin: 0;
  }

  @media screen and (max-width: 1020px) {
    li {
      flex: 0 1 calc(50% - 1.6rem);
    }
  }

  @media screen and (max-width: 768px) {
    li {
      flex: 0 1 100%;
    }
  }
}