---
tags:
- tool 
date: 2024-07-17
title: Gravity Forms to Drupal Webforms Converter
---
<section class="banner banner--default">
  <h1>{{ title }}</h1>
</section>

<section class="component component--standard-wide">
  <p>This is a node cli based tool I made that will convert Wordpress' Gravity Forms .json files to Drupals .yml syntax. It's not perfect or completed by any means, but it converts 90% of standard fields, along with some simple conditional fields.</p>
  <p>It can be viewed and downloaded from <a href="https://github.com/tristanhampton/gravity-forms-to-drupal-webforms-migration/tree/main">the Github repo</a>.
</section>