.site__navigation {

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    border: 0.2rem solid var(--surface-secondary);
    border-right-width: 0.1rem;
    padding: 0 var(--padding-200);
    font-size: var(--font-small);
    color: var(--text-primary);
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: var(--text-primary);
    }
  }

  li + li {
    border-left-width: 0.1rem;
  }

  li:last-child a {
    border-right-width: 0.2rem;
  }

  @media screen and (max-width: 500px) {
    li {
      flex: 1 1 50%;
    }
  }
}