---
tags:
- tool 
date: 2024-07-17
title: Front End QA Tool
---
<section class="banner banner--default">
  <h1>{{ title }}</h1>
</section>

<section class="component component--standard-wide">
  <p>This is a tool I made for the QA team at work to help with testing my front end styles. It's a Drupal module that allows them to toggle on background columns, outlines on different types of elements, etc.</p>
  <p>It can be viewed and downloaded from <a href="https://github.com/tristanhampton/Front-End-QA-Tool">the Github repo</a>
  <p><img src="/tools/img/fe-qa-screenshot.png" alt="screenshot of the tool. It shows an example of columns in the background, and red outlines around text elements" /></p>
</section>