---
tags:
- tool 
date: 2024-07-17
layout: default
title: Front End QA Tool
permalink: "tools/fe-qa/"
published: true
eleventyNavigation:
  key: SVG to CSS Polygon
  parent: 'tools'
  order: 1
---
<main class="site__main main--projects project--clip-paths">

  <h1>{{ title }}</h1>
  <p>This is a tool I made for the QA team at work to help with testing my front end styles. It's a Drupal module that allows them to toggle on background columns, outlines on different types of elements, etc.</p>
  <p>It can be viewed and downloaded from <a href="https://github.com/tristanhampton/Front-End-QA-Tool">the Github repo</a>
  <p><img src="/tools/img/fe-qa-screenshot.png" alt="screenshot of the tool. It shows an example of columns in the background, and red outlines around text elements" /></p>
</main>