---
layout: default
siteTitle: "Tristan Hampton"
title: "Projects"
permalink: "/projects/"
meta_description: "The full list of web projects that I have worked on, along with links to view the real project."
---
<section class="banner style--default">
	<h1>Projects</h1>
</section>

<section class="component component--standard-wide">
	<h2 class="type--styled">Projects with Northern</h2>
	<p class="subheading">January 2024 - Present</p>

	<ul class="flex-wrapper">
		{% for project in collections.northern | reverse %}
			{% if project.data.published != false %}
				<li>
					<a class="card" href="{{ project.data.website_url if project.data.redirect else project.url }}" title="{{ project.data.title }}" target="{{ '_blank' if project.data.redirect else '' }}" rel="noopener noreferrer">
						<h3>{{ project.data.short }}</h3>
						{% set imgPath = project.page.filePathStem + '.png' %}
						<picture>
							<source srcset="{% getUrl imgPath | resize({ height: 300, width: 300, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" media="(max-width: 768px)">
							<source srcset="{% getUrl imgPath | resize({ height: 600, width: 600, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" media="(min-width: 769px)">
							<img src="{% getUrl imgPath | resize({ height: 600, width: 600, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" alt="screenshot of the {{ project.data.title }} website">
						</picture>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</section>

<section class="component component--standard-wide">
	<h2 class="type--styled">Projects with Yellow Pencil</h2>
	<p class="subheading">February 2022 - January 2024</p>
	<ul class="flex-wrapper">
		{% for project in collections.yellowpencil | reverse %}
			{% if project.data.published != false %}
				<li>
					<a class="card" href="{{ project.data.website_url if project.data.redirect else project.url }}" title="{{ project.data.title }}" target="{{ '_blank' if project.data.redirect else '' }}" rel="noopener noreferrer">
						<h3>{{ project.data.short }}</h3>
						{% set imgPath = project.page.filePathStem + '.png' %}
						<picture>
							<source srcset="{% getUrl imgPath | resize({ height: 300, width: 300, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" media="(max-width: 768px)">
							<source srcset="{% getUrl imgPath | resize({ height: 600, width: 600, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" media="(min-width: 769px)">
							<img src="{% getUrl imgPath | resize({ height: 600, width: 600, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" alt="screenshot of the {{ project.data.title }} website">
						</picture>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</section>

<section class="component component--standard-wide">
	<h2 class="type--styled">Projects with Box Clever</h2>
	<p class="subheading">December 2020 - February 2022</p>

	<ul class="flex-wrapper">
		{% for project in collections.boxclever | reverse %}
			{% if project.data.published != false %}
				<li>
					<a class="card" href="{{ project.data.website_url if project.data.redirect else project.url }}" title="{{ project.data.title }}" target="{{ '_blank' if project.data.redirect else '' }}" rel="noopener noreferrer">
						<h3>{{ project.data.short }}</h3>
						{% set imgPath = project.page.filePathStem + '.png' %}
						<picture>
							<source srcset="{% getUrl imgPath | resize({ height: 300, width: 300, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" media="(max-width: 768px)">
							<source srcset="{% getUrl imgPath | resize({ height: 600, width: 600, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" media="(min-width: 769px)">
							<img src="{% getUrl imgPath | resize({ height: 600, width: 600, position: 'top', fit: 'cover' }) | avif({ quality: 100 }) %}" alt="screenshot of the {{ project.data.title }} website">
						</picture>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</section>