---
tags:
- tool 
date: 2025-01-15
title: Drupal JavaScript to DBlog
summary: A small Drupal module that lets you log JS messages to Drupals dblog
---
<section class="banner banner--default">
  <h1>{{ title }}</h1>
</section>

<section class="component component--standard-wide">
  <p>This was a small module I put together to help find a JS related bug a client was reporting that wasn't consistently happening. With it, you can use <code>console.dblog()</code> to log JS to the Drupal dblog. This way you can check out logging after the client has reported the issue without having to be there in person.</p>
  <p>It can be viewed and downloaded from <a href="https://github.com/tristanhampton/drupal_js_dblog">the Github repo</a>.</p>
</section>